<footer>
  <div class="logo">
    The Shop
  </div>
  <nav>
    <p>
      This is a sample shop, made for the needs of sample-pie-shop project.
      Check github for more details.
    </p>
  </nav>
</footer>
