<footer>

  <p>
  <a href="https://google.com/about" title="About Google">About Google</a> •
  <a href="http://www.google.com/intl/en/policies/privacy/" title="Privacy Policy">Privacy</a> •
  <a href="https://shop.googlemerchandisestore.com/store-policies/terms-of-use/" title="Terms of Use">Terms of Use</a>
  </p>

  <p><strong>Email us:</strong> <a href="mailto:fu@bar.com?subject=Enquiry from Pie Shop demo" title="Email link">fu@bar.com</a></p>

  <p><strong>Call us:</strong> <a href="tel:1-234-567-890" title="Telephone link">1-234-567-890</a></p>

  <p>Monday to Friday: 8:00am to 8:00pm EST</p>

  <p>
  <a href="https://shop.googlemerchandisestore.com/store-policies/frequently-asked-questions/" title="Shop frequently asked questions">FAQ</a> • 
  <a href="https://shop.googlemerchandisestore.com/store-policies/return-policy/" title="Returns and exchanges">Returns and Exchanges</a> •
  <a href="https://shop.googlemerchandisestore.com/store-policies/shipping-information/" title="Shipping information">Shipping</a>
  </p>

</footer>