<header>

    <menu tabindex="0">
      <svg id="open">
        <title>Open menu</title>
        <path d="M0 0h24v24H0z" fill="none" />
        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
      </svg>
      <svg id="close">
        <title>Close menu</title>
        <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
        <path d="M0 0h24v24H0z" fill="none" />
      </svg>
      <div>
        <a href="/category/Accessories">Accessories</a>
        <a href="/category/Apparel">Apparel</a>
        <a href="/category/Bags">Bags</a>
        <a href="/category/Drinkware">Drinkware</a>
        <a href="/category/Office">Office</a>
        <a href="/category/Shop by Brand">Shop by Brand</a>
      </div>
    </menu>

  <h1>pieshop</h1>

  <input id="search" placeholder="Search...">

  <a id="basket" data-badge="{{cartTotalQty}}" href="/cart" title="View shopping cart">
    <svg>
      <title>View shopping cart</title>
      <path d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49A1.003 1.003 0 0 0 20 4H5.21l-.94-2H1zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z"
      />
      <path d="M0 0h24v24H0z" fill="none" />
    </svg>
  </a>

</header>