<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="PWA Shop: e-commerce Progressive Web App">
  <meta name="author" content="https://google.com">
  <meta itemprop="name" content="PWA Shop: e-commerce Progressive Web App">
  <meta itemprop="image" content="/images/icons/logo24.svg">
  <meta id="theme-color" name="theme-color" content="#fff">

  <link rel="manifest" href="/manifest.json">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,600">
  <link rel="stylesheet" href="/styles/style.css" />
  <link rel="icon" href="/images/icons/logo24.svg">

  {{#each scripts}}
  <script src="{{this}}" defer></script>
  {{/each}}

  <title>{{title}}</title>

</head>
