<nav>
  <a href="accessories">Accessories</a>
  <a href="apparel">Apparel</a>
  <a href="bags">Bags</a>
  <a href="drinkware">Drinkware</a>
  <a href="office">Office</a>
  <a href="brand">Shop by Brand</a>
</nav>