#category {
  display: grid;
  grid-gap: 30px 30px;
  grid-template-columns: 1fr;
  margin: 30px 28px 30px 28px;
}

#category div {
  align-items: center;
  box-shadow:
    0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  padding: 0 0 20px 0;
  text-align: center;
  background-color: var(--color-background-light);
}

#category h2 {
  flex-grow: 1;
  padding: 0 10px;
}


@media all and (min-width: 420px) {
  #category {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (min-width: 750px) {
  #category {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #category h1 {
    display: none;
  }
}

@media all and (min-width: 1200px) {
  #category {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}