a#cart {
  padding: 0 0 0 15px;
  position: relative;
  top: 7px;
}

a#cart::after {
  color: white;
  content: attr(data-badge);
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: bold;
  left: 22px;
  position: absolute;
  text-align: center;
  top: -27px;
  width: 18px;
}

a#cart[data-badge='']::after,
a#cart[data-badge='0']::after {
  display: none;
}

a#cart svg {
  fill: var(--text-on-primary-dark);
  height: 40px;
  width: 40px;
}

a#cart svg:hover {
  fill: var(--text-on-primary-dark);
}

a#cart svg text {
  display: none;
  font-size: 12px;
}

header h1 {
  color: var(--text-on-primary-light);
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  padding: 0 0 6px 0;
  white-space: nowrap;
}

header h1::before {
  content: '';
}

h1#logo a:hover {
  color: #eee; /* Hover effect */
}

h1#logo svg {
  display: none;  /* Default for mobile */
}

nav a {
  color: var(--text-on-primary-light);
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0 1px 0 0;
  padding: 10px 10px;
  text-transform: lowercase;
  border-bottom: 4px solid var(--color-primary-light);
}

nav a:hover,
nav a.current {
  color: var(--text-on-primary-light);
  border-color: var(--color-secondary);
}

div#searchbox {
  text-align: right;
  position: relative;
}

div#searchbox svg {
  width: 24px;
  height: 33px;
  margin-left: -35px;
  vertical-align: middle;
  fill: var(--color-text);
  position: absolute;
  top: 0;
}

input#search {
  border: none;
  border-radius: 33px;
  color: var(--color-text);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  min-width: 100px;
  padding: 5px;
}

input#search:focus {
  background-color: white;
}

input#search::placeholder {
  color: var(--color-text);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

@media all and (min-width: 420px) {
  header {
    grid-template-columns: 89px 122px auto 62px;
  }

  header h1 {
    font-size: 28px;
    justify-self: start;
  }

  input#search {
    padding: 7px;
  }
}

@media all and (min-width: 750px) {
  nav {
    display: block;
  }

  a#cart {
    padding: 0 0 0 10px;
  }

  a#cart::after {
    left: 40px;
  }

  a#cart svg {
    width: 85px;
  }

  a#cart svg text {
    display: inherit;
  }

  header {
    grid-template-columns: auto auto 100px;
    margin: 0;
    padding: 0 26px;
  }

  header h1 {
    font-size: 32px;
    justify-self: start;
    padding: 0 0 6px 0;
  }

  h1#logo svg {
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: sub;
    margin: 0 10px;
  }

  input#search {
    font-size: 16px;
  }

  input#search::placeholder {
    font-size: 16px;
  }
}
