/* Color theme */

html {
  /* Primary color */
  --color-primary: #ff8a80;
  --color-primary-light: #ffbcaf;
  --color-primary-dark: #c85a54;

  /* Secondary color */
  --color-secondary: #26c6da;
  --color-secondary-light: #6ff9ff;
  --color-secondary-dark: #0095a8;

  /* Text on colored background */
  --text-on-primary-light: #000;
  --text-on-primary-dark: #fff;
  --text-on-secondary: #000;
  --text-on-secondary-dark: #fff;

  /* Background color */
  --color-background-dark: #fff;
  --color-background-light: #fff;

  /* Text color */
  --color-text: #444;
  --color-text-vivid: #000;
  --color-text-subtle: #bbb;
}

* {
  font-family: 'Roboto', sans-serif;
}

input,
select {
  background-color: var(--color-background-light);
}

a {
  text-decoration: none;
}

a#cart {
  padding: 0 0 0 15px;
  position: relative;
  top: 7px;
}

a#cart::after {
  color: white;
  content: attr(data-badge);
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: bold;
  left: 22px;
  position: absolute;
  text-align: center;
  top: -27px;
  width: 18px;
}

a#cart[data-badge='']::after,
a#cart[data-badge='0']::after {
  display: none;
}

section.cart-item a {
  color: black;
  cursor: pointer;
}

section.cart-item a.remove {
  flex-grow: 1;
  font-size: 16px;
  font-weight: 200;
  position: relative;
  text-decoration: underline;
  top: -2px;
}

a#checkout {
  display: block;
  margin: 0 0 20px 0;
}

a#continue-shopping {
  color: var(--color-text);
  display: block;
  font-weight: 200;
  text-align: center;
  text-decoration: underline;
  width: 100%;
}

a#continue-shopping:hover {
  color: var(--color-text-vivid);
}

a#logo {
  display: flex;
}

footer a {
  color: var(--color-text);
}

footer a:hover {
  color: var(--color-text-vivid);
}

h1 a {
  color: var(--text-on-primary-dark);
}

nav a {
  border-bottom: 4px solid var(--color-primary-light);
  color: var(--text-on-primary-light);
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0 1px 0 0;
  padding: 10px 10px;
  text-transform: capitalize;
}

nav a:hover,
nav a.current {
  color: var(--text-on-primary-light);
  border-color: var(--color-secondary);
}

section#home-categories a {
  background-color: var(--color-background-light);
  color: var(--color-text);
  cursor: pointer;
  display: block;
  padding: 30px;
  text-align: center;
}

section#home-products a {
  background: linear-gradient(#eee, #fff);
  color: var(--color-text);
  cursor: pointer;
  display: block;
  margin: auto;
  padding: 30px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background-dark);
}

button {
  background-color: var(--color-secondary-dark);
  border: none;
  border-radius: 2px;
  box-shadow:
    0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: var(--text-on-secondary-dark);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  padding: 10px 15px;
  text-transform: uppercase;
  width: 110px;
}

button:active,
button:hover {
  background-color: var(--color-secondary);
  color: var(--text-on-secondary);
}

button:focus {
  /* TODO: Consider stronger focus indicator */
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
  outline: none;
}

button[disabled] {
  background-color: rgb(30, 30, 30);
  background-color: rgba(255, 255, 255, 0.12);
  color: rgb(76, 76, 76);
  color: rgba(255, 255, 255, 0.3);
}

main#cart button {
  width: 100%;
}

main#shipping-and-payment button {
  font-size: 16px;
  padding: 16px 0;
  width: calc(100% + 2px);
}

section#cart-items div.name-and-quantity {
  display: flex;
  flex-direction: column;
  min-height: 20vw;
  height: fit-content;
}

section#cart-items div.remove-and-total {
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-height: 20vw;
  text-align: right;
}

section.cart-item div.quantity {
  align-self: end;
  justify-self: end;
  font-size: 16px;
  font-weight: 200;
  margin: 0;
}

section.cart-item div.total-price {
  font-size: 16px;
  font-weight: 600;
}

main#category div,
main#search div {
  align-items: center;
  box-shadow:
    0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  padding: 0 0 20px 0;
  text-align: center;
  background-color: var(--color-background-light);
}

main#product > div {
  padding: 0 28px 0 28px;
  position: relative;
  top: -4px;
}

main#product div#description {
  font-size: 18px;
  font-weight: 200;
  line-height: 1.3em;
  margin: 0 0 20px 0;
}

main#product div#price {
  font-size: 22px;
  font-weight: 100;
  margin: 0 0 25px 0;
}

div.shop-now {
  margin: 0 0 20px 0;
}

main#search em {
  font-style: inherit;
  font-weight: 300;
}

footer {
  border-top: 1px solid var(--color-text-subtle);
  font-family: 'Roboto', sans-serif;
  padding: 10px 30px 10px 30px;
}

header {
  align-items: center;
  background-color: var(--color-primary-dark);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
  display: grid;
  grid-template-columns: 81px 93px auto 60px;
  height: 80px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0;
}

main#shipping-and-payment h1 {
  margin: 0 0 30px 0;
}

a#logo h1 {
  color: #eee;
  font-size: 22px;
  font-weight: 600;
  position: relative;
}

a#logo:hover h1 {
  color: white;
}

main h1 {
  grid-column-end: -1;
  grid-column-start: 1;
}

main#product h1 {
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 25px 0;
}

main#confirmation h1 {
  margin: 0 0 25px 0;
}

main#search h1 {
  font-size: 24px;
  font-weight: 200;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.3em;
}

main#category div h2,
main#search div h2 {
  padding: 0 10px;
}

main#shipping-and-payment h2 {
  font-size: 22px;
  font-weight: 200;
  margin: 0 0 25px 0;
}

section.cart-item h2 {
  flex-grow: 1;
  font-size: 16px;
  font-weight: 200;
  margin: 0 0 10px 0;
  position: relative;
  top: -2px;
}

main#cart #cart-summary h2 {
  font-size: 22px;
  font-weight: 200;
  margin: 0 0 20px 0;
}

main#category h2 {
  flex-grow: 1;
  padding: 0 10px;
}

main#index h2 {
  font-size: 32px;
  font-weight: 300;
  margin: 0 0 10px 0;
}

section#home-categories h2 {
  grid-column: 1/-1;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0;
}

img[srcset=''] {
  visibility: hidden;
}

img.cart {
  display: block;
  height: calc(20vw);
  line-height: 1.3em;
  margin: 0 0 20px 0;
  width: 20vw;
}

img.product {
  display: block;
  height: calc(100vw - 60px);
  line-height: 1.3em;
  margin: 0 0 20px 0;
  width: 100%;
}

main#product img {
  height: 100vw;
  margin: 0 0 15px 0;
  width: 100vw;
}

main#shipping-and-payment input {
  border: 1px solid var(--color-background-dark);
  font-size: 16px;
  margin: 0 0 35px 0;
  padding: 15px;
  width: calc(100% - 30px);
}

main#shipping-and-payment input#shipping-same {
  display: inline-block;
  margin: 0 10px 25px 0;
  width: inherit;
}

main#shipping-and-payment input#billing-honorific-prefix,
main#shipping-and-payment input#shipping-honorific-prefix,
main#shipping-and-payment input#billing-postal-code,
main#shipping-and-payment input#shipping-postal-code {
  width: 150px;
}

main#shipping-and-payment input#cc-csc {
  width: 35px;
}

main#shipping-and-payment input:active {
  background-color: white;
  border-color: var(--color-secondary);
}

main#shipping-and-payment label {
  display: block;
  font-weight: 300;
  margin: 0 0 8px 0;
}

main#shipping-and-payment label[for=shipping-shipping-same] {
  display: inline-block;
}

main {
  margin: 0 0 30px 0;
}

section#home-categories img {
  height: 220px;
  margin: 0 0 20px 0;
  max-width: 240px;
  width: 100%;
}

section#home-products img {
  height: 90vw;
  width: 90vw;
}

section#home-brands img {
  max-width: 180px;
  width: 100%;
}

div#search {
  display: flex;
  justify-self: right;
}

#search input {
  border: none;
  border-radius: 2px 0 0 2px;
  color: var(--color-text);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  height: 33px;
  margin: 0;
  min-width: 100px;
  padding: 5px;
  -webkit-appearance: textfield;
}

#search input:focus {
  background-color: white;
}

#search input::placeholder {
  color: var(--color-text);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.1s 0.1s ease;
}

main#cart {
  display: grid;
  grid-gap: 25px 30px;
  grid-template-columns: 1fr;
  margin: 30px 28px 30px 28px;
}

main#category,
main#search {
  display: grid;
  grid-gap: 30px 30px;
  grid-template-columns: 1fr;
  margin: 30px 28px 30px 28px;
}

main#confirmation {
  padding: 30px 30px 60px 30px;
}

main#error {
  padding: 30px 30px 60px 30px;
}

main#product {
  display: grid;
  grid-gap: 20px 0;
  grid-template-columns: 1fr;
  padding: 0;
}

main#shipping-and-payment {
  max-width: 500px;
  padding: 30px 30px 20px 30px;
}

nav {
  background-color: var(--color-primary-light);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
  display: none;
  font-family: 'Roboto', sans-serif;
  padding: 0 20px 0 17px;
  white-space: nowrap;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 1em 0;
  padding: 0;
}

main p.price {
  color: var(--color-secondary-dark);
  margin: 0 0 20px 0;
}

main#cart p.total {
  display: grid;
  font-size: 16px;
  font-weight: 300;
  grid-template-columns: auto 1fr;
  margin: 0 0 30px 0;
}

footer p {
  color: var(--color-text);
  margin: 20px 0;
}

main#error p {
  font-size: 18px;
}

section#home-products p {
  font-size: 18px;
  font-weight: 200;
}

p#delivery-options {
  border-bottom: 1px solid var(--color-background-dark);
  font-size: 14px;
  margin: 0 0 30px 0;
  padding: 0 0 25px 0;
}

p#free-shipping {
  display: inline-block;
  font-weight: 200;
  margin: 0 0 22px 0;
}

section#cart-items {
  border-bottom: 1px solid var(--color-text);
  display: grid;
  grid-gap: 30px 0;
}

section.cart-item {
  align-items: start;
  border-bottom: 1px solid var(--color-text-subtle);
  display: grid;
  grid-gap: 0 20px;
  grid-template-columns: 1fr 2fr 1fr;
  height: fit-content;
  padding: 0 0 15px 0;
}

section.cart-item:last-of-type {
  border-bottom: none;
}

section#home-categories {
  display: grid;
  grid-gap: 30px 30px;
  grid-template-columns: 1fr;
  padding: 30px;
}

section#home-products {
  margin: 0 0 30px 0;
}

section#home-brands {
  display: grid;
  grid-gap: 30px 30px;
  grid-template-columns: auto auto auto;
  padding: 0 30px 30px 30px;
}

main#shipping-and-payment section {
  border-bottom: 1px solid var(--color-text-subtle);
  margin: 0 0 38px 0;
  padding: 0 0 17px 0;
}

main#shipping-and-payment section:last-of-type {
  margin: 0 0 46px 0;
}

main#shipping-and-payment select {
  border: 1px solid var(--color-text-subtle);
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  height: 48px;
  line-height: 1.8em;
  margin: 0 0 25px 0;
  max-width: calc(100% + 3px);
  padding: 10px 10px;
  width: fit-content;
}

main#shipping-and-payment select#cc-exp-month {
  margin: 0 10px 0 0;
  width: 67px;
}

main#shipping-and-payment select#cc-exp-year {
  width: 99px;
}

main#shipping-and-payment select#cc-type {
  width: 180px;
}

div.shop-now span {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin: 0 5px 0 0;
  text-transform: uppercase;
}

p.total span {
  display: block;
}

a#logo svg {
  display: none;
  fill: #eee;
  width: 40px;
  height: 40px;
  margin: 0 18px 0 0;
}

a#logo:hover svg {
  fill: white;
}

div#search svg {
  background-color: var(--color-primary);
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  fill: var(--color-text);
  height: 33px;
  padding: 0 7px;
  width: 24px;
}

div#search svg:hover {
  background-color: var(--color-primary-light);
  fill: var(--color-text-vivid);
}

div.shop-now svg {
  display: inline-block;
  position: relative;
  top: 4px;
  width: 22px;
}

a#cart svg {
  fill: var(--text-on-primary-dark);
  height: 40px;
  width: 40px;
}

a#cart svg:hover {
  fill: var(--text-on-primary-dark);
}

a#cart svg text {
  display: none;
  font-size: 12px;
}

#cart-summary svg {
  display: inline-block;
  fill: var(--color-secondary);
  height: 20px;
  position: relative;
  top: 4px;
  width: 20px;
}

/* menu start */

menu a {
  color: var(--text-on-secondary-dark);
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  padding: 20px 80px 20px 34px;
  text-transform: lowercase;
  white-space: nowrap;
}

menu div {
  background-color: var(--color-secondary-dark);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.16);
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 40px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1;
}

menu:focus div {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
  visibility: visible;
}

menu {
  display: block;
  padding: 0 0 0 24px;
  position: relative;
}

menu:focus {
  outline: none;
  pointer-events: none;
}

p.total strong {
  justify-self: end;
}

menu svg {
  cursor: pointer;
  fill: white;
  position: absolute;
  top: -21px;
  transition: all 0.5s ease;
  width: 40px;
}

menu svg#close {
  opacity: 0;
}

menu svg#open {
  opacity: 1;
}

menu:focus svg#close {
  opacity: 1;
}

menu:focus svg#open {
  opacity: 0;
}

/* menu end */

/* media queries start */

@media all and (min-width: 420px) {
  main#product button.add-to-cart {
    margin: 0;
  }

  main#product div#description {
    margin: 0 0 30px 0;
    padding: 0;
  }

  main#product div#price {
    margin: 0 0 30px 0;
    padding: 0;
  }

  header {
    grid-template-columns: 89px 135px auto 62px;
  }

  a#logo h1 {
    font-size: 28px;
  }

  main#product h1 {
    font-size: 30px;
    font-weight: 300;
    margin: 0 0 30px 0;
    padding: 0;
  }

  img.product {
    height: calc((100vw - 90px) / 2);
  }

  section#home-categories img {
    height: calc((100vw - 250px) / 2);
  }

  main#product img {
    height: 42vw;
    width: 42vw;
  }

  #search input {
    min-width: 150px;
    padding: 7px 10px 7px 7px;
  }

  main#category,
  main#search {
    grid-template-columns: 1fr 1fr;
  }

  main#product {
    grid-template-columns: 1fr 1fr;
    padding: 30px 28px 13px 28px;
  }

  section#home-categories {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (min-width: 750px) {
  a#cart {
    padding: 0 0 0 10px;
  }

  a#cart::after {
    left: 40px;
  }

  a#continue-shopping {
    text-align: left;
  }

  section#home-products a {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 2fr;
    padding: 5% 10%;
  }

  header {
    grid-template-columns: auto auto 100px;
    margin: 0;
    padding: 0 26px;
  }

  a#logo h1 {
    font-size: 32px;
    padding: 0 0 6px 0;
    top: 4px;
  }

  a#logo svg {
    display: block;
  }

  main#category h1 {
    display: none;
  }

  img.product {
    height: calc((100vw - 120px) / 3);
  }

  section#home-products img {
    height: 50vw;
    width: 50vw;
  }

  section#home-categories img {
    height: calc((100vw - 345px) / 3);
  }

  #search input {
    font-size: 16px;
    min-width: 250px;
  }

  #search input::placeholder {
    font-size: 16px;
  }

  main#cart {
    grid-gap: 17px 60px;
    grid-template-columns: 1fr 1fr;
  }

  main#category,
  main#search {
    grid-template-columns: 1fr 1fr 1fr;
  }

  menu {
    display: none;
  }

  nav {
    display: block;
  }

  section#cart-items {
    border-bottom: none;
  }

  section#cart-summary {
    border: 1px solid var(--color-text-subtle);
    height: fit-content;
    padding: 30px;
  }

  section#home-categories {
    grid-template-columns: 1fr 1fr 1fr;
  }

  section#home-brands {
    grid-template-columns: auto auto auto auto auto;
  }

  a#cart svg {
    width: 85px;
  }

  a#cart svg text {
    display: inherit;
  }
}

@media all and (min-width: 1200px) {
  img.product {
    height: calc((100vw - 150px) / 4);
  }

  section#home-categories img {
    height: calc((100vw - 460px) / 4);
  }

  main#category,
  main#search {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  section#home-categories {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* media queries end */
