<main id="cart">

  <h1>{{title}}</h1>

  {{#if cart.totalQty }}
    {{> cart }}
  {{else}}
    <p>Your cart is empty.</p>
    <a href="/" title="Go to home page"><button>Continue shopping</button></a>
  {{/if}}

</main>
