{{#each preloads}}
  <link rel=preload as=image crossorigin imagesrcset="{{this.srcset}}" imagesizes="{{this.sizes}}">
{{/each}}
<main id="category" data-category="{{category}}">

  <h1>{{category}}</h1>

  {{#each products}}
    {{> product product=this}}
  {{/each}}
  
</main>
