<main id="error">

  <p>Sorry!</p>

  <p>We can't find the page you're looking for.</p>

  <p><a href="/" title="Link to homepage">Visit our homepage</a>, <a href="/products" title="Link to products page">browse our products</a> or <a href="/contact" title="">contact us</a> if you think something is wrong.</p>

</main>