<main id="home">

<section id="home-products">

  {{#each homeProducts}}
    {{> home-product product=this}}
  {{/each}}

</section>

<section id="home-categories">

  <h2>Shop by category</h2>

  {{#each homeCategories}}
    {{> home-category category=this}}
  {{/each}}

</section>

</main>