<div class="pie-categories">
    <a href="/category/meat">Meat Pies</a>
    <a href="/category/meat">Veg Pies</a>
    <a href="/category/meat">Fish Pies</a>
    <a href="/category/meat">Sweet Pies</a>
</div>

  {{> product_list }}
