<main id="index">

<section id="home-products">

  {{#each homeProducts}}
    {{> home-product product=this}}
  {{/each}}

</section>

<section id="home-categories">

  <h2>Shop by category</h2>

  {{#each homeCategories}}
    {{> home-category category=this}}
  {{/each}}

</section>

<section id="home-brands">
  <a href="/brand" title="Android branded products">
    <img class="lazy" data-id="android" alt="Android logo" srcset=""></img>
  </a>
  <a href="/brand" title="Google branded products">
    <img class="lazy" data-id="google" alt="Google logo" srcset=""></img>
  </a>
  <a href="/brand" title="YouTube branded products">
    <img class="lazy" data-id="youtube" alt="YouTube logo" srcset=""></img>
  </a>
  <a href="/brand" title="Waze branded products">
    <img class="lazy" data-id="waze" alt="Waze logo" srcset=""></img>
  </a>
  <a href="/brand" title="Nest branded products">
    <img class="lazy" data-id="nest" alt="Nest logo" srcset=""></img>
  </a>
</section>

</main>