<div class="pie-categories">
  <div class="pie-category-cover">
    <a href="/category/meat">Meat Pies</a>
  </div>
  <div class="pie-category-cover">
    <a href="/category/meat">Veg Pies</a>
  </div>
  <div class="pie-category-cover">
    <a href="/category/meat">Fish Pies</a>
  </div>
  <div class="pie-category-cover">
    <a href="/category/meat">Sweet Pies</a>
  </div>
</div>
