<!DOCTYPE html>
<html lang="en">

{{> head}}


<body>

  {{> header}}

  {{> nav}}

  <div id="offline-status">No internet connection detected</div>

  <div id="main-view">

  {{{body}}}
  </div>

</body>

{{> footer}}

</html>
