<footer>
  <div class="logo">
    Logo
  </div>
  <nav>
    <a href="/">Index</a>
    <a href="/category">Category</a>
    <a href="/listing">Listing</a>
    <a href="/search">Search</a>
    <a href="/product">Product</a>
  </nav>

</footer>
