<header>
  <div class="logo">
    Logo
  </div>
  <nav>
    <button class="icon-btn icon-signin">sign in</button>
    <button class="icon-btn icon-liked">liked</button>
    <button class="icon-btn icon-cart">cart</button>
  </nav>
</header>
