<div class="navbar">
  <div class="search">
    <input type="text" placeholder="search" />
  </div>
  <nav>
    <a href="/" class="icon-link icon-meat">Meat</a>
    <a href="/" class="icon-link icon-fish">Fish</a>
    <a href="/" class="icon-link icon-veg">Veg</a>
    <a href="/" class="icon-link icon-sweet">Sweet</a>
  </nav>
</div>
